<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%#- include ('partials/sidebar') %> 
    <!-- div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">*coolWebsiteName*</div>
      <div class="list-group list-group-flush">
        <a href="/category/cat1" class="list-group-item list-group-item-action bg-light">Category 1</a>
        <a href="/category/cat2" class="list-group-item list-group-item-action bg-light">Category 2</a>
        <a href="/category/cat3" class="list-group-item list-group-item-action bg-light">Category 3</a>
      </div>
    </div -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%- include ('partials/navbar') %>
      <!-- nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href='/create'>Create<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%#= username %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user/<%#= username %>">Profile</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav -->


      <!-- div class="container-fluid" -->
  
        <!-- Page Content -->
        <div class="container">
            <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-10">

                <h1 class="my-4 text-capitalize"><%= title %> 
                <small><%= small %></small>
                </h1>
                <hr>
                <%- include ('partials/messages') %>
                <% if (posts.length > 0) { %>
                  <% for (let post of posts) { %>
                    <div class="card mb-4">
                      <a href="/post/<%= post._id %>">
                      <img class="card-img-top" src="https://picsum.photos/seed/<%= post._id %>/750/300" alt="Card image cap">
                      </a>
                      <div class="card-body">
                        <h2 class="card-title" style="word-wrap:break-word"><%= post.title %></h2>
                        <p class="card-text" style="word-wrap:break-word">
                          <% if (post.postBody.length > 190) { %>
                            <%- post.postBody.slice(0, 190) %><span class="text-muted">...</span>
                          <% } else { %>
                            <%- post.postBody %>
                          <% } %> 
                        </p>
                        <a href="/post/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
                      </div>
                      <div class="card-footer text-muted">
                        Posted on <%= new Date(post.createdAt).toDateString() %> by
                        <a href="/user/<%= post.username %>"><%= post.username %></a>
                        <span class="float-right">#<%= post.category %> </span>
                      </div>
                    </div>
                  <% } %>
                <% } else { %>
                  <h1 class="display-4 text-muted">This place looks empty!</h1>
                <% } %> 


                <!-- Pagination >
                <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
                </ul -->

            </div>

            <!-- Sidebar Widgets Column -->
            <!-- <div class="col-md-4">

                
                <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                    </div>
                </div>
                </div>

                
                <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                        <li>
                            <a href="#">Freebies</a>
                        </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>

                
                <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                  <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L72fhGm1tfE?rel=0" allowfullscreen></iframe>
                  </div>
                </div>
                </div>

            </div> -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
      <!-- /div -->
    </div>
    <!-- /#page-content-wrapper -->

</div>
  <!-- /#wrapper -->

  <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>